
.dqadmin-tl p{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.dqadmin-config-tl p{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
.dqadmin-config-it p{
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}
.dqadmin-config-it2 p{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
.dqadmin-config-btn {
    margin-top: 30px;
    text-align: center;
}

/* excel */
.dqadmin-it-tl {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}
.dqadmin-excel-con img {
    width: 100%;
}
.dqadmin-excel-con p {
    width: 100%;
}
.dqadmin-info-tl p {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.dqadmin-info-tl-nt {
    margin-top: 30px;
}
.dqadmin-info-tl-nt p {
    font-size: 15px;
    text-align: center;
}


/* daodian */
.dqadmin-daodian-list {
    text-align:left;
    font-size: 20px;
}
.dqadmin-daodian-list label p{
    text-align:left;
    font-size: 20px;
}
.daodian_file_tl p{
    text-align:center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.daodian_file_it_tl p{
    text-align:right;
    font-size: 20px;
    font-weight: bold;
}
.daodian_file_btn_con {
    margin-top: 20px;
}
.dqadmin-report-ico-con {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.dqadmin-report-ico-con a img{
    position: relative;
    height: 40px;
}
.dqadmin-report-ico-con a p{
    font-size: 10px;
}
