<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <title>德勤汽车经销商数据采集/对标平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap.min.css' %}"/>

    <!-- nav goot -->
    <link type="text/css" rel="stylesheet" href="{% static 'index-nav-foot.css' %}"/>
    {% block customcss %}
    {% endblock %}

</head>

<!-- 
The #page-top ID is part of the scrolling feature.
The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body>
<div class="index-wrapper">

{% block nav %}
<nav class="nav-index navbar navbar-default ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav-brand" href="/">Deloitte<span>.</span></a>
      <a class="navbar-brand nav-brand" href="/">德勤</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right index-nav-it">
        <li><a href="/">首页</a></li>

        {% if perms.data.add_uploadfile %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">数据录入<span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li><a href="/data_in/xin_che">新车部门</a></li>
               <li><a href="/data_in/er_shou_che">二手车部门</a></li>
               <li><a href="/data_in/bei_jian">备件部门</a></li>
               <li><a href="/data_in/jin_rong">金融保险部门</a></li>
               <li><a href="/data_in/shou_hou">售后部门</a></li>
               <li><a href="/data_in/qi_ta">其他数据</a></li>
            </ul>
        </li>

<!--
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">录入进度<span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li><a href="/data_in_status/xin_che">新车部门</a></li>
               <li><a href="/data_in_status/er_shou_che">二手车部门</a></li>
               <li><a href="/data_in_status/bei_jian">备件部门</a></li>
               <li><a href="/data_in_status/jin_rong">金融保险部门</a></li>
               <li><a href="/data_in_status/shou_hou">售后部门</a></li>
            </ul>
        </li>
-->
        <!-- For normal user -->
        <li><a href="/dqadmin/excel_user">录入进度</a></li>
        {% endif %}

        {% if perms.job.add_job %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">德勤管理员<span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li><a href="/dqadmin/excel/all">数据采集表</a></li>
               <li><a href="/dqadmin/daodian">到店状态</a></li>
               <li><a href="/dqadmin/database/xinche_dianxiao_xiaoshou">数据库</a></li>
            </ul>
        </li>
        {% endif %}

        {% if user.groups.all.0.name == 'coadmin' %}
        <!-- company admin -->
        <li><a href="/dqadmin/daodian_company">厂家管理员</a></li>
        {% endif %}

        {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">设置</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="/register">注册</a></li>
            <li><a href="/login">登陆</a></li>
        {% endif %}
    
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
{% endblock %}

<div class="push"></div>
</div><!-- end index-wrapper -->

{% block footer %}
<div class="container-fluid footer">
    <div class="container footer-bg footer">
        <div class="row">
            <div class="col-md-4">
                <div class="headline"><h2 class="heading-sm">关于德勤</h2></div>
                <p>德勤Deloitte在全球超过150个国家和地区内汇集了超过12万的各类行业专家，并致力于为客户提供卓越的专家服务和咨询服务，其主要业务集中在四个领域：审计、税务规划、咨询和财务顾问，全球有一半以上的大型企业、国有企业、公共机构、本地重要客户以及成功的成长期企业都在享受着德勤的各类专业咨询服务。</p>
<!--
                <ul class="list-unstyled link-list">
                    <li><a href="#">关于我们</a><i class="fa fa-angle-right"></i></li>
                    <li><a href="#">联系我们</a><i class="fa fa-angle-right"></i></li>
                </ul>
-->
            </div>
            <div class="col-md-4">
                <h2>平台简介</h2>
                <p class="margin-bottom-20">德勤汽车经销商数据采集/对标平台是德勤为Audi DPCP项目开通的专门用于该项目范围内汽车经销商数据采集、后续数据更新、数据分析及数据对标的云平台</p>
            </div>
            <div class="col-md-4">
                <div class="headline"><h2 class="heading-sm">联系我们</h2></div>                
                <address class="md-margin-bottom-40">
                    <p>Billy Liang</p>
<!--
                    <i class="fa fa-home"></i>北京市海淀区<br />
-->
                    <i class="fa fa-phone"></i>电话: 189-1005-8576 <br />
                    <i class="fa fa-globe"></i>网址: <a href="#">www.deqinshuju.com</a> <br />
                    <i class="fa fa-envelope"></i>Email: <a href="billiang@deloitte.com.cn">billiang@deloitte.com.cn</a>
                </address>
            </div>
            <div class="col-md-12 copyright-tl">
                <p>2015 © All Rights Reserved, 德勤数据平台</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>

{% block customjs %}
{% endblock %}

</body>
</html>
