
{% extends "index/base.html" %}
{% load staticfiles %}

{% block customcss %}
<link type="text/css" rel="stylesheet" href="{% static 'dqadmin.css' %}"/>
{% endblock %}

{% block content %}

<!--=== Content Part ===-->    
<div class="container margin-bottom-100">
    <div class="row">
        <div class="col-md-12 dqadmin-tl">
            <p>数据库</p>
            <hr>
        </div>
        <div class="col-md-12 dqadmin-config-tl">
            <p>请选择要查询的表单</p>
        </div><!-- end col-12 -->
    </div>

    <form id="mengf" action="/dqadmin/database/table" class="form-horizontal" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-3 dqadmin-config-it">
                    <p>部门 :</p>
                </div>
                <div class="col-md-9 dqadmin-config-it2">
                    <select class="form-control" name='bumen' id='bumen'>
                        <option>新车部门</option>
                        <option>二手车部门</option>
                        <option>金融保险部门</option>
                        <option>售后部门</option>
                        <option>备件部门</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 dqadmin-config-it">
                    <p>用户 :</p>
                </div>
                <div class="col-md-9 dqadmin-config-it2">
                    <select class="form-control" name='username' id='username'>
                        <option>全部用户</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 dqadmin-config-it">
                    <p>数据库表 :</p>
                </div>
                <div class="col-md-9 dqadmin-config-it2">
                    <select class="form-control" name='tablename' id='tablename'>
                        <option value="zhanting_xiaoshou">展厅销售漏斗</option>
                        <option value="dianxiao_xiaoshou">电销销售漏斗</option>
                        <option value="xiaoshou_xiansuo">销售线索渠道</option>
                        <option value="xiansuo_laiyuan">线索来源分析</option>
                        <option value="kuling_tongji">库龄统计</option>
                        <option value="hexin_kpi">核心KPI</option>
                        <option value="shangwu_zhengce">商务政策完成度</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 dqadmin-config-btn">
                    <button class="btn btn-primary" type="submit">查询</button>
                    <hr>
                </div><!-- end col-12 -->
            </div><!-- end row -->

        </div><!-- end form-group -->
    </form>



</div><!-- end container -->

<div id='meng'></div>
<div class="container-fuild">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover" id="dbtable">
                <tr id="tabeltitle">
                {% for tl in tabletl %}
                    <th>{{ tl }}</th>
                {% endfor %}
                </tr>

                {% if type != 'xinche_dianxiao_xiaoshou' %}
                    {% for it in db %}
                        <tr>
                            <td>{{ it.date }}</td>
                            <td>{{ it.user }}</td>
                            <td>{{ it.xiaoshou_xiansuo }}</td>
                            <td>{{ it.liu_dang_liang }}</td>
                            <td>{{ it.shi_jia_liang }}</td>
                            <td>{{ it.ding_dan_liang }}</td>
                            <td>{{ it.jiao_che_liang }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>

<!--=== Content Part ===-->    
{% endblock %}

{% csrf_token %}
{% block customjs %}
<script type="text/javascript" src="{% static 'js.cookie.js' %}"></script>

<script type="text/javascript">

jQuery(document).ready(function() {
    {% for u in users %}
        $('#username').append('<option>{{ u }}</option>')
    {% endfor %}
});

$(':file').change(function(){
    var file = this.files[0];
    var name = file.name;
    var size = file.size;
    var type = file.type;
    //Your validation
    //alert('file name'+name);
});
</script>

<script type="text/javascript">

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

    $('form').submit(function(e) {    
        var formData = new FormData($(this)[0]); 
        var action_str = $(this).attr('action');
        // clear before
        $('#dbtable').html('');
        //alert('submit form:'+action_str);

/*
                        <option value="zhanting_xiaoshou">展厅销售漏斗</option>
                        <option value="dianxiao_xiaoshou">电销销售漏斗</option>
                        <option value="xiaoshou_xiansuo">销售线索渠道</option>
                        <option value="xiansuo_laiyuan">线索来源分析</option>
                        <option value="kuling_tongji">库龄统计</option>
                        <option value="hexin_kpi">核心KPI</option>
                        <option value="shangwu_zhengce">商务政策完成度</option>
*/

        // Set the table content
        $.ajax({
            url: action_str,
            data: formData,
            cache: false,
            async: false,
            type: "POST",
            contentType: false,
            processData: false,
            //Ajax events
            success: function(data) {

                // get title
                var titles = new Array();
                $(data).find("tbtitle").each(function(){
                    titles.push($(this).text());
                });
                //alert(data);
                var title_html = "<tr>"
                for(var i=0;i < titles.length; i++) {
                    title_html += "<th>"+titles[i]+"</th>"
                }
                title_html += "</tr>"
                $('#dbtable').append(title_html)

                // get fields
                var fields = new Array();
                $(data).find("tbfield").each(function(){
                    fields.push($(this).text());
                });

                $(data).find("object").each(function(){
                    //alert(fields);
                    var item = "<tr>";
                    for(var i=0;i < fields.length; i++) {
                        var field_data = $(this).find("field[name='"+fields[i]+"']").text();
                        if (fields[i] == 'date') {
                            field_data = field_data.slice(0,7);
                        }
                        item += "<td>"+field_data+"</td>"
                    }
                    item += "</tr>"
                    $('#dbtable').append(item);
                });
                //$('#meng').append(data);
                //alert('meng');
                //alert(data['result']);
            }
        });
        e.preventDefault();
    });

</script>
{% endblock %}
