
{% extends "index/base.html" %}
{% load staticfiles %}

{% block customcss %}
<link type="text/css" rel="stylesheet" href="{% static 'dqadmin.css' %}"/>
{% endblock %}

{% block content %}

<!--=== Content Part ===-->    
<div class="container-fluid margin-bottom-100">
    <div class="row">
        <div class="col-md-12 dqadmin-tl">
            <p>数据采集表管理</p>
        </div>
    </div>
</div><!-- end container -->

<!-- filter -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="mengf" action="/dqadmin/database/table" class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-group">

<!--
                    <div class="row">
                        <div class="col-md-3 dqadmin-config-it">
                            <p>部门 :</p>
                        </div>
                        <div class="col-md-9 dqadmin-config-it2">
                            <select class="form-control" name='bumen' id='bumen'>
                                <option>所有部门</option>
                                <option>新车部门</option>
                                <option>二手车部门</option>
                                <option>金融保险部门</option>
                                <option>售后部门</option>
                                <option>备件部门</option>
                                <option>其他</option>
                            </select>
                        </div>
                    </div>
-->

                    <div class="row">
                        <div class="col-md-3 dqadmin-config-it">
                            <p>用户 :</p>
                        </div>
                        <div class="col-md-9 dqadmin-config-it2">
                            <select class="form-control" name='username' id='username'>
                                <option>{{ cur_user }}</option>
                                {% for u in other_user %}
                                    <option>{{ u }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 dqadmin-config-it">
                        </div>
                        <div class="col-md-9 dqadmin-config-it2">
                            <button class="btn btn-primary" type="submit">查询</button>
                        </div>
                    </div>
                </div><!-- end form-group -->
            </form>
        </div>
    </div>
</div>

<div id='meng'></div>
<div class="container-fuild">
    {% for it in all %}
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="col-md-6 dqadmin-info-tl">
                <p>{{ it.jituanming }}</p>
            </div>
            <div class="col-md-6 dqadmin-info-tl">
                <p>{{ it.dianming }}</p>
            </div>
            <div class="dqadmin-info-tl-nt">
                <p>用户名: {{ it.username }}</p>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-2 dqadmin-it-tl">
                    <p>新车部门</p>
                </div>
                {% for j in it.file_xinche %}
                <div class="col-sm-1 dqadmin-excel-con">
                    <a href="/{{ j.get_file_path }}">
                        <img src="{% static 'excellogo.jpg' %}">
                        <p>{{ j.get_ico_tl }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
            <hr>

            <div class="row">
                <div class="col-lg-2 dqadmin-it-tl">
                    <p>二手车部门</p>
                </div>
                {% for j in it.file_ershouche %}
                <div class="col-lg-1 dqadmin-excel-con">
                    <a href="/{{ j.get_file_path }}">
                        <img src="{% static 'excellogo.jpg' %}">
                        <p>{{ j.get_ico_tl }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-2 dqadmin-it-tl">
                    <p>备件部门</p>
                </div>
                {% for j in it.file_beijian %}
                <div class="col-lg-1 dqadmin-excel-con">
                    <a href="/{{ j.get_file_path }}">
                        <img src="{% static 'excellogo.jpg' %}">
                        <p>{{ j.get_ico_tl }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-2 dqadmin-it-tl">
                    <p>售后部门</p>
                </div>
                {% for j in it.file_shouhou %}
                <div class="col-lg-1 dqadmin-excel-con">
                    <a href="/{{ j.get_file_path }}">
                        <img src="{% static 'excellogo.jpg' %}">
                        <p>{{ j.get_ico_tl }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-2 dqadmin-it-tl">
                    <p>金融保险部门</p>
                </div>
                {% for j in it.file_jinrong %}
                <div class="col-lg-1 dqadmin-excel-con">
                    <a href="/{{ j.get_file_path }}">
                        <img src="{% static 'excellogo.jpg' %}">
                        <p>{{ j.get_ico_tl }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-2 dqadmin-it-tl">
                    <p>其他</p>
                </div>
                {% for j in it.file_qita %}
                <div class="col-lg-1 dqadmin-excel-con">
                    <a href="/{{ j.get_file_path }}">
                        <img src="{% static 'winrar.jpg' %}">
                        <p>{{ j.get_ico_tl }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
            <hr>


        </div>
    </div>
    {% endfor %}
</div>

<!--=== Content Part ===-->    
{% endblock %}

{% csrf_token %}
{% block customjs %}
<script type="text/javascript" src="{% static 'js.cookie.js' %}"></script>

<script type="text/javascript">

jQuery(document).ready(function() {
    {% if result != 'success' %}
        alert('{{ result }}');
    {% endif %}
    $('button').click(function(){
        var username = $('#username').val();
        if(username == '全部用户') {
            username = 'all';
        }
        //alert(username);
        window.location = "/dqadmin/excel/"+username;
    });
});

$(':file').change(function(){
    var file = this.files[0];
    var name = file.name;
    var size = file.size;
    var type = file.type;
    //Your validation
    //alert('file name'+name);
});
</script>

<script type="text/javascript">

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

    $('form').submit(function(e) {    
        var formData = new FormData($(this)[0]); 
        var action_str = $(this).attr('action');
        // clear before
        $('#dbtable').html('');
        //alert('submit form:'+action_str);

/*
                        <option value="zhanting_xiaoshou">展厅销售漏斗</option>
                        <option value="dianxiao_xiaoshou">电销销售漏斗</option>
                        <option value="xiaoshou_xiansuo">销售线索渠道</option>
                        <option value="xiansuo_laiyuan">线索来源分析</option>
                        <option value="kuling_tongji">库龄统计</option>
                        <option value="hexin_kpi">核心KPI</option>
                        <option value="shangwu_zhengce">商务政策完成度</option>
*/

        // Set the table content
        $.ajax({
            url: action_str,
            data: formData,
            cache: false,
            async: false,
            type: "POST",
            contentType: false,
            processData: false,
            //Ajax events
            success: function(data) {

                // get title
                var titles = new Array();
                $(data).find("tbtitle").each(function(){
                    titles.push($(this).text());
                });
                //alert(data);
                var title_html = "<tr>"
                for(var i=0;i < titles.length; i++) {
                    title_html += "<th>"+titles[i]+"</th>"
                }
                title_html += "</tr>"
                $('#dbtable').append(title_html)

                // get fields
                var fields = new Array();
                $(data).find("tbfield").each(function(){
                    fields.push($(this).text());
                });

                $(data).find("object").each(function(){
                    //alert(fields);
                    var item = "<tr>";
                    for(var i=0;i < fields.length; i++) {
                        var field_data = $(this).find("field[name='"+fields[i]+"']").text();
                        if (fields[i] == 'date') {
                            field_data = field_data.slice(0,7);
                        }
                        item += "<td>"+field_data+"</td>"
                    }
                    item += "</tr>"
                    $('#dbtable').append(item);
                });
                //$('#meng').append(data);
                //alert('meng');
                //alert(data['result']);
            }
        });
        e.preventDefault();
    });

</script>
{% endblock %}
